@font-face {
    font-family: gotham;
    src: url(GothamBold.otf);
    font-weight: bold;
}

@font-face {
    font-family: gotham;
    src: url(GothamBook.otf);
}

span {
    font-family: 'gotham', sans-serif;
}